/*
    Use a more-intuitive box-sizing mod  
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
   Remove default margin and padding
*/
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: var(--font-size-root) !important;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-base);
  line-height: var(--font-space-line-base);
  background-color: var(--c-neutral-white);
  color: var(--c-neutral-gray);
}

html {
  width: 100%;
  width: 100vw;
}

html,
body,
#__nuxt {
  height: 100vh;
}

body {
  /* Force vertical scrollbar to be always visible to avoid layout shift while loading the content */
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

body {
  /* Prevent arbitrary zooming on mobile devices */
  touch-action: pan-x pan-y;
}

/*
  Improve text rendering
*/
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/*
   Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

 button,
 input,
 optgroup,
 select,
 textarea {
   font-family: inherit; /* 1 */
   font-size: 100%; /* 1 */
   line-height: 1.15; /* 1 */
   outline: 0;
   border: 0;
 }
 
 /**
  * Show the overflow in IE.
  * 1. Show the overflow in Edge.
  */
 
 button,
 input { /* 1 */
   overflow: visible;
 }
 
 /**
  * Remove the inheritance of text transform in Edge, Firefox, and IE.
  * 1. Remove the inheritance of text transform in Firefox.
  */
 
 button,
 select { /* 1 */
   text-transform: none;
 }
 
 /**
  * Correct the inability to style clickable types in iOS and Safari.
  */
 
 button,
 [type="button"],
 [type="reset"],
 [type="submit"] {
   -webkit-appearance: button;
 }

/*
   Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* ::-moz-selection {
}

::selection { 
}
*/
