:root {
  --c-state-success: #83D67B;
  --c-state-warning: #9B6E1D;
  --c-state-error: #990000;
  --c-state-error-dark: #660000;

  --c-neutral-white: #F5F5F5;
  --c-neutral-black: #333333;
  --c-neutral-gray: #A6A6A6;
  --c-neutral-dark-gray: #4D4D4D;
  --c-neutral-light-gray: #E5E5E5;

  --c-typo-dark: var(--color-neutral-black);
  --c-typo-light: var(--color-neutral-white);
}
